<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <!--<h1>hello {{ name }}</h1>-->
    <!--<h1>hello world from {{ addr }}</h1>-->
    <!--{% for name in arr %}-->
        <!--{% if name.0 == 'O' %}-->
            <!--<i><h1>hello master {{ name }}</h1></i>-->
        <!--{% elif name.0 == "I" %}-->
            <!--<h5>drink for love {{ name }}</h5>-->
        <!--{% else %}-->
            <!--<h2>hello {{ name }}</h2>-->
        <!--{% endif %}-->
    <!--{% endfor %}-->
{{ user.books.all }}
{{ user.books.count }}
{{ user.books.exists }}
    {% for b in books %}
        <h4>{{ b.title }}</h4>
        <h4>{{ b.date }}</h4>
        <h6>{{ b.text }}</h6>
        {{ b.authors.all }}
        <h3>{{ b.comments.count }}</h3>
        <h3>{{ b.comments.exists }}</h3>
        {% for comment in b.comments.all %}
            <h4>{{ comment.text }}</h4>
            <h5>{{ comment.date }}</h5>
            <h6>{{ comment.author }}</h6>
            <h6>{{ comment.book.id }}</h6>
        {% endfor %}
        <br>
    {% endfor %}
</body>
</html>